.consultation {
    min-height: 680px;
    padding-top: 100px;
    padding-bottom: 92px;
    background: url('../img/third_section_bg2.png') center (center/cover) no-repeat;
    &__descr {
        margin-top: 8px;
        line-height: 30px;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }
}
.slick-prev {
        
}
.slick-next {
    
}